.elements {
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .elements {
    max-width: 600px;
    justify-content: center;
    gap: 19px;
    margin: auto;
  }
}


@media screen and (max-width: 600px) {
  .elements {
    max-width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .elements {
    max-width: 282px;
    gap: 20px;
  }
}
